name: design_review
description: 'package with dev tool extension to display your design screenshot above your app and review differences.'
version: 0.0.2
homepage: https://github.com/olekeke999/design_review
issue_tracker: https://github.com/olekeke999/design_review/issues

environment:
  sdk: ^3.6.2
  flutter: '>=1.17.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
